{{ 'section-main-page.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page__music page-width page-width--narrow section-{{ section.id }}-padding {{ section.settings.music_section_style }}">
			{% comment %}
			{% assign music_releases = shop.metaobjects.music.values %}
			{% assign new_music_releases = music_releases | sort: 'release_date_new' | reverse %}
			{% for music_release in newpag_music_releases %}
				<h2>{{ music_release.name_of_album }}</h2>
				<p>
					<img src="{{ music_release.album_image | image_url: width: 300 }}" alt="">
				</p>
				<p>
					<a href="{{ music_release.album_link.value['url'] }}" target="_blank">
						{{ music_release.album_link.value["text"] }} 
					</a> 
				</p>
				<p>
					{{ music_release.release_date_new }} 
				</p>
			{% endfor %}
			{% endcomment %}

			{% assign music_releases = shop.metaobjects.music.values %}
			{% paginate  music_releases by 5 %}
			{% assign newpag_music_releases = music_releases  | sort: 'release_date_new' | reverse %}
			{% for music_release in newpag_music_releases %}
				<h2>{{ music_release.name_of_album }}</h2>
				<p>
					<img src="{{ music_release.album_image | image_url: width: 300 }}" alt="">
				</p>
				<p>
					<a href="{{ music_release.album_link.value['url'] }}" target="_blank">
						{{ music_release.album_link.value["text"] }} 
					</a> 
				</p>
				<p>
				music index
					{{ music_release.release_date_new }} 
				</p>
			{% endfor %}
		 	{{- paginate | default_pagination -}}
			{%- endpaginate -%}
</div>


{% schema %}
	{
		"name": "Music Page",
		"settings": [
			{
				"type": "header",
				"content": "t:sections.all.padding.section_padding_heading"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_top",
				"default": 36
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_bottom",
				"default": 36
			},
			{
				"type": "select",
				"id": "music_section_style",
				"options": [
					{
						"value": "style-1",
						"label": "music.section_music.style1"
					},
					{
						"value": "style-2",
						"label": "music.section_music.style2"
					},
					{
						"value": "style-3",
						"label": "music.section_music.style3"
					},
					{
						"value": "style-4",
						"label": "music.section_music.style4"
					}
				],
				"default": "style-1",
				"label": "music.section_music.style1"
			},
		]
	}
{% endschema %}