{{ 'section-main-page.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
		{% if template.name == "index" %}
			<h2 class="title-section">Music</h2>
			<div class="release-list js-release-list">
				{% assign music_releases = shop.metaobjects.music.values %}
				{% assign new_music_releases = music_releases | sort: 'release_date_new' | reverse %}
				{% assign i = 0 %}
				{% for music_release in new_music_releases %}
					{% assign i = i | plus:1 %}
					{% if i <= 5 %}
						<div class="release">
							<div class="release-image">
								<img src="{{ music_release.album_image | image_url: width: 400 }}" alt="">
							</div>
							<div class="release-content">
								<div class="release-title">
									<h3>{{ music_release.name_of_album }}</h3>
								</div>
								<div class="release-button">
									<a class="music-button" href="{{ music_release.album_link.value['url'] }}" target="_blank">
										{{ music_release.album_link.value["text"] }} 
									</a> 
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			{% comment %}
			{% assign music_releases = shop.metaobjects.music.values %}
			{% assign new_music_releases = music_releases | sort: 'release_date_new' | reverse %}
			{% for music_release in newpag_music_releases %}
				<h2>{{ music_release.name_of_album }}</h2>
				<p>
					<img src="{{ music_release.album_image | image_url: width: 300 }}" alt="">
				</p>
				<p>
					<a href="{{ music_release.album_link.value['url'] }}" target="_blank">
						{{ music_release.album_link.value["text"] }} 
					</a> 
				</p>
				<p>
					{{ music_release.release_date_new }} 
				</p>
			{% endfor %}
			{% endcomment %}

			{% assign music_releases = shop.metaobjects.music.values %}
			{% paginate  music_releases by 5 %}
			{% assign newpag_music_releases = music_releases  | sort: 'release_date_new' | reverse %}
			{% for music_release in newpag_music_releases %}
				<h2>{{ music_release.name_of_album }}</h2>
				<p>
					<img src="{{ music_release.album_image | image_url: width: 300 }}" alt="">
				</p>
				<p>
					<a href="{{ music_release.album_link.value['url'] }}" target="_blank">
						{{ music_release.album_link.value["text"] }} 
					</a> 
				</p>
				<p>
					{{ music_release.release_date_new }} 
				</p>
			{% endfor %}
		 	{{- paginate | default_pagination -}}
			{%- endpaginate -%}
		{% endif %}
</div>


{% schema %}
	{
		"name": "Music metas OLD",
		"settings": [
			{
				"type": "header",
				"content": "t:sections.all.padding.section_padding_heading"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_top",
				"default": 36
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_bottom",
				"default": 36
			}
		]
	}
{% endschema %}