{{ 'section-main-page.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page__music page-width page-width--narrow section-{{ section.id }}-padding {{ section.settings.music_section_style }}">
	{% assign music_releases = shop.metaobjects.music.values %}
	{% assign new_music_releases = music_releases | sort: 'release_date_new' | reverse %}
	{% assign i = 0 %}

	{% if section.settings.music_section_style == "style-4" %}
		<div class="music-list-featured">
			{% for music_release in new_music_releases %}
				{% if music_release.featured == true %}
					{% assign i = i | plus:1 %}
					{% if i <= 5 %}
						<div class="music">
							<div class="music-image">
								<img src="{{ music_release.album_image | image_url: width: 400 }}" alt="">
							</div>
							<div class="music-content">
								<div class="music-title">
									<h3>{{ music_release.name_of_album }}</h3>
								</div>
								<div class="music-button">
									<a class="music-button" href="{{ music_release.album_link.value['url'] }}" target="_blank">
										{{ music_release.album_link.value["text"] }} 
									</a> 
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		
		<div class="music-list">
			{% for music_release in new_music_releases %}
				{% if music_release.featured == false or music_release.featured == Null %}
					<div class="music__release">
						<div class="music__image">
								<figure>
								<img src="{{ music_release.album_image | image_url }}" alt="">
							</figure>
						</div>
						<div class="music__content">
							<h2>{{ music_release.name_of_album }}</h2>
							<a href="{{ music_release.album_link.value['url'] }}" target="_blank">
								{{ music_release.album_link.value["text"] }} 
							</a> 
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

	{% else %}
		{% for music_release in new_music_releases %}
			<div class="music__release">
				<div class="music__image">
						<figure>
						<img src="{{ music_release.album_image | image_url }}" alt="">
					</figure>
				</div>
				<div class="music__content">
					<h2>{{ music_release.name_of_album }}</h2>
					<a href="{{ music_release.album_link.value['url'] }}" target="_blank">
						{{ music_release.album_link.value["text"] }} 
					</a> 
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>


{% schema %}
	{
		"name": "Music Page",
		"settings": [
			{
				"type": "header",
				"content": "t:sections.all.padding.section_padding_heading"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_top",
				"default": 36
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_bottom",
				"default": 36
			},
			{
				"type": "select",
				"id": "music_section_style",
				"options": [
					{
						"value": "style-1",
						"label": "music.section_music.style1"
					},
					{
						"value": "style-2",
						"label": "music.section_music.style2"
					},
					{
						"value": "style-3",
						"label": "music.section_music.style3"
					},
					{
						"value": "style-4",
						"label": "music.section_music.style4"
					}
				],
				"default": "style-1",
				"label": "music.section_music.style1"
			},
		]
	}
{% endschema %}