{% for metaobject in shop.metaobjects.videos.values %}
  <h2>{{ metaobject.video_title }}</h2>
  <p>
    {% assign yt_id = metaobject.video_yt_id %}
    
    {% capture thumb_video %}https://img.youtube.com/vi/{{ yt_id }}/maxresdefault.jpg{% endcapture %}
    {% capture video_url %}http://youtube.com/watch?v={{ yt_id }}{% endcapture %}  

    {% comment %}
    {{ thumb_video }}
    {{ video_url }}
    {% endcomment %}

    
    <a class="link-video" data-fancybox="video-gallery" href="{{ video_url }}">
      <div class="overlay"></div>
      <img class="thumb-video" src="{{ thumb_video }}" />
    </a>
    
  </p>
{% endfor %}

{% schema %}
  {
    "name": "Videos metas",
    "settings": []
  }
{% endschema %}